@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
}

/* Fill your code*/
*{
    background-color: rebeccapurple;
}
.mydiv{
    
}
#text{
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
img{
    width: 100px;
}